.PageInfo {
  background-color: #F0F1F6;
  padding-top: 40px;
  padding-bottom: 30px;
}

.PageInfo .Statistics {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.PageInfo .descriptionFlex {
  display: flex;
  justify-content: center;
}

.PageInfo .image {
  position: absolute;
  top: -30px;
  width: 80px;
  left: 32px;
}

.PageInfo .square {
  position: relative;
  padding: 20px;
  margin: 2vw;
  border-radius: 20px;
  background-color: #FFFFFF;
  min-width: 300px;
  max-width: 400px;
  height: 269px;
}
.PageInfo .descriptionText {
  font-weight: 400;
}

.PageInfo .top {
  margin-top: 0px;
}

.PageInfo .middle {
  margin-top: 40px;
}

.PageInfo .bottom {
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .PageInfo .descriptionFlex {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 80px;
  }
  .PageInfo .image {
    position: absolute;
    top: -30px;
    width: 80px;
    left: 40%;
  }
  .PageInfo h2 {
    margin-top: 60px;
  }
}
